/* untuk header */
header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(81, 87, 104);
    height: 10%;

}
/* Style the search box inside the navigation bar */
.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    border: none;
    margin-top: 16px;
    padding: 3px;
    margin-left: 20%;
    font-size: 17px;   
}
.topnav input {
    width: 300px;
}
.topnav button img {
    width: 14px;
}
nav ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    right: 0;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}